<div class="home__section-header">
  <h3 class="h3">
    <%= t("active_spaces", scope: i18n_scope) %>
  </h3>
  <% if all_path.present? %>
    <%= link_to all_path, class: "button button__sm button__text-secondary" do %>
      <%= t("see_all_spaces", scope: i18n_scope) %>
      <%= icon "arrow-right-line", class: "fill-current" %>
    <% end %>
  <% end %>
</div>
<div class="card__grid-home">
  <% limited_highlighted_spaces.each do |space| %>
    <%= card_for space, size: :g %>
  <% end %>
</div>