<section id="hero-alt" class="hero-alt">
  <div class="hero-alt__container">
    <div class="hero-alt__columns">
      <div class="hero-alt__image">
        <% if background_image.present? %>
          <img src="<%= background_image %>" alt="<%=[t("decidim.application.photo.alt"), decidim_escape_translated(model.settings.welcome_text)].join(": ") %>" data-process-hero>
        <% end %>
      </div>
      <div class="hero-alt__text">
        <h1 class="hero-alt__title">
          <% if translated_welcome_text.blank? %>
            <%= t("decidim.pages.home.hero.welcome", organization: current_organization_name) %>
          <% else %>
            <%= decidim_sanitize_admin translated_welcome_text %>
          <% end %>
        </h1>
        <%= render :cta_button %>
      </div>
    </div>
  </div>
</section>
