<section id="hero-alt" class="hero-alt">
  <div class="hero-alt__container">
    <div class="hero-alt__columns hero-alt-process">
      <div class="hero-alt__image">
        <% if image_path.present? %>
          <img src="<%= image_path %>" alt="Välkomnstbild för process">
        <% end %>
      </div>
      <div class="hero-alt__text">
        <h1 class="hero-alt__title">
          <%= title_text %>
        </h1>
        <p class="participatory-space__hero-slogan">
          <% if has_hashtag? %>
            <span>
              <%= link_to "##{escaped_hashtag}", twitter_hashtag_url(escaped_hashtag), target: "_blank" %>
            </span>
          <% end %>
          <%= subtitle_text %>
        </p>
        <% if has_cta? %>
          <%= link_to cta_text, cta_path, class: "button button__lg button__secondary", data: { cta: "" } %>
        <% end %>
      </div>
    </div>
  </div>
</section>
